@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full;
}

body {
  @apply text-gray-900 bg-gray-100 dark:bg-gray-800 dark:text-gray-100 m-0 p-2 box-border font-sans;
}

.layout {
  @apply relative w-full h-full;
}

.pane {
  @apply absolute bg-gray-200 dark:bg-gray-700 border border-gray-400 dark:border-gray-600 overflow-hidden;
}

a {
  @apply text-blue-700 dark:text-blue-500 no-underline;
}

a:hover {
  @apply underline;
}

a:visited {
  @apply text-blue-900 dark:text-blue-400;
}

label {
  @apply block;
}

input, button, select, textarea {
  @apply font-inherit text-base py-1 px-2 m-0 mb-2 box-border border border-gray-300 dark:border-gray-500 rounded;
}

input:disabled {
  @apply text-gray-300;
}

input[type="range"] {
  @apply h-0;
}

button {
  @apply bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:active:bg-gray-500 dark:focus:border-gray-400 outline-none;
}

button:active {
  @apply bg-gray-300;
}

button:focus {
  @apply border-gray-600;
}
